{% extends 'layout.html' %}

{% block body %}
    <section id="row">
        {% for movie in movie_list %}
            <div class="responsive">
                <div class="gallery">
                    <a href="/movie/{{ movie["title"] }} ">
                        <img src="{{ movie["poster"] }}" onerror="this.src='{{ url_for('static', filename='default-poster.png') }}';" >
                    </a>
                    <div class="desc">{{ movie["title"] }}</div>
                </div>
            </div>
      {% endfor %}
    </section>
{% endblock %}