{% extends 'layout.html' %}

{% block body %}
    {% if movie_list is none %}
        <div class="alert alert-warning" role="alert">
            No movies found, please index!
        </div>
    {% else %}
        <section id="row">
            {% for movie in movie_list %}
                <div class="responsive">
                    <div class="gallery">
                        <a href="/movie/{{ movie["title"] }} ">
                            <img src="{{ movie["poster"] }}" onerror="this.src='{{ url_for('static', filename='default-poster.png') }}';" >
                        </a>
                        <div class="desc">{{ movie["title"] }}</div>
                    </div>
                </div>
          {% endfor %}
        </section>
    {% endif %}
{% endblock %}