<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>movielst web</title>
        <link rel="stylesheet" href="{{ url_for('dep_files', filename='bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body style="background-color: #eee;">
        <div class="container">
             <form class="form-signin" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                 <h2 class="form-signin-heading">Sign in</h2>
                 {{ form.username_field(class_='form-control', placeholder='Username') }}
                 {{ form.password_field(class_='form-control', placeholder='Password') }}
                 {{ form.login(class_='btn btn-lg btn-primary btn-block') }}
             </form>
        </div>
        <script src="{{ url_for('dep_files', filename='boostrap.min.js') }}"></script>
    </body>
</html>