{% extends 'layout.html' %}

{% block body %}
    <p> <strong>Title :</strong> {{ list["title"] }}</p>
    <p> <strong>Genre :</strong> {{ list["genre"] }}</p>
    <p> <strong>IMDB :</strong> {{ list["imdb"] }}</p>
    <p> <strong>Runtime :</strong> {{ list["runtime"] }}</p>
    <p> <strong>Rotten Tomato :</strong> {{ list["tomato"] }}</p>
    <p> <strong>Released :</strong> {{ list["year"] }}</p>
    <p> <strong>Awards :</strong> {{ list["awards"] }}</p>
    <p> <strong>Cast :</strong> {{ list["cast"] }}</p>
    <p> <strong>Director(s) :</strong> {{ list["director"] }}</p>
{% endblock %}