{% extends 'layout.html' %}

{% block body %}
    <div id="movie_container">
        {% if cached %}
            <img src="{{ url_for('cached_image_file', filename=list["poster"]) }}" onerror="this.src='{{ url_for('static', filename='default-poster.png') }}';" >
        {% else %}
            <img src="{{ list["poster"] }}" onerror="this.src='{{ url_for('static', filename='default-poster.png') }}';" >
        {% endif %}
        <h1>{{ list["title"] }}</h1>
        <h6 style="display: inline;">{{ list["genre"] }}</h6>
        <h6 style="display: inline; margin-left: 5%;">{{ list["year"] }}</h6>
        <br />
        <div>
            <i class="icon-clock" style="vertical-align: middle; font-size: 1.8rem;"></i>
            <i>{{ list["runtime"] }}</i>
            <i class="icon-imdb" style="vertical-align: middle; font-size: 1.8rem; margin-left: 2%;"></i>
            <i>{{ list["imdb"] }}</i>
            <i style="margin-left: 2%;"><button type="button" class="btn" onclick="location.href='/movie/play/{{ list['file_info_name'] }}'">PLAY</button></i>
        </div>
        <hr>
        <br />
        <p>{{list["description"] }}</p>
        <p> <strong>Rotten Tomato :</strong> {{ list["tomato"] }}</p>
        <p> <strong>Awards :</strong> {{ list["awards"] }}</p>
        <p> <strong>Cast :</strong> {{ list["cast"] }}</p>
        <p> <strong>Director(s) :</strong> {{ list["director"] }}</p>
        </div>
{% endblock %}