{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Settings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#settingsNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="settingsNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/settings">Configuration<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <br />
        <h3>General</h3>
        <p>{{ form.log_level_field.label }} : {{ form.log_level_field(size=32, class_='form-control') }}</p>
        <p>{{ form.log_location_field.label }} : {{ form.log_location_field(size=32, class_='form-control') }}</p>
        <hr>
        <h3>Index</h3>
        <p>{{ form.location_field.label }} : {{ form.location_field(size=32, class_='form-control') }}</p>
        <hr>
        <h3>API</h3>
        <p>{{ form.use_external_api_field.label }} : {{ form.use_external_api_field(size=32, class_='form-control') }}</p>
        <p>{{ form.omdb_api_key_field.label }} : {{ form.omdb_api_key_field(size=32, class_='form-control') }}</p>
        <p>{{ form.tmdb_api_key_field.label }} : {{ form.tmdb_api_key_field(size=32, class_='form-control') }}</p>
        <p>{{ form.submit(class_='btn btn-lg btn-primary') }} </p>

    </form>
{% endblock %}