{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_navbar_settings.html' %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <br />
        <h3>Add user</h3>
        <p>{{ form.username_field.label }} : {{ form.username_field(size=32, class_='form-control') }}</p>
        <p>{{ form.password_field.label }} : {{ form.password_field(size=32, class_='form-control') }}</p>
        <p>{{ form.submit(class_='btn btn-lg btn-primary') }} </p>
        <hr>
        <h3>Delete user</h3>
        <p>{{ form.user_list_field.label }} : {{ form.user_list_field(class_='form-control') }}</p>
        <p>{{ form.delete(class_='btn btn-lg btn-danger') }}</p>

    </form>
{% endblock %}