{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_navbar_settings.html' %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <br />
        <h3>Add user</h3>
        <p>{{ form.username_field.label }} : {{ form.username_field(size=32, class_='form-control') }}</p>
        <p>{{ form.password_field.label }} : {{ form.password_field(size=32, class_='form-control') }}</p>
        <p>{{ form.submit(class_='btn btn-lg btn-primary') }} </p>
        <hr>
        <h3>Delete user</h3>
        <p>{{ form.user_list_field.label }} : {{ form.user_list_field(class_='form-control') }}</p>
        <!--<p>{{ form.delete(class_='btn btn-lg btn-danger') }}</p>-->
        <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the user? <br/>
                        <strong>THIS CANNOT BE UNDONE!</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ form.delete(class_='btn btn-danger') }}
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}